.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: auto;
    box-shadow: 5px 5px 10px var(--green);
    border-radius: 10px;
    padding-block: 20px;
    padding-inline: 10px;
    margin-bottom: 5rem;
    margin-inline: 1rem;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkblue);
}

.text h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.text p{
    font-size: 1.2rem;
}

.custom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    font-size: 2rem;
    color: var(--darkblue);
}

.icon{
    padding-left: .5rem;
}

.button{
    width: 40px;
    height: 40px;
    background-color: var(--darkblue);
    color: var(--blue);
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover{
    background-color: var(--navyblue);
    color: var(--green);
    transition: 1s;
}